/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    blockquote {
      background: #393E41;
    }

    a {
      color: #DDB06D;
    }

    header {
      background: #393E41;
      border-bottom: 4px solid #DDB06D;

    }

    .article-meta, .menu a {
      background: #393E41;
      color: white;
    }

    table {
      margin: auto;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #666; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #666 }

}

body {
  max-width: 800px;
  margin: auto;
  padding: .2em;
  line-height: 1.5em;
}

h1 {
  line-height: 1.5em;
}

#TableOfContents, #TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}

/* Header and Footer */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
}

.terms { font-size: .9em; }
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }

.pull-left {
    float: left;
    padding-left: 25px;
}
.pull-right {
    float: right
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adjust background at your leisure! */
header {
    position: relative;
    width: 100%;
    height: 1.75rem;
    font-size: 1rem;
}

header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none
}
header nav {
    padding: 0 0.5rem
}

header a {
    color: #fff;
    line-height: 1.75rem;
    padding: 0 0.8rem
}
header a:hover,
header .current a {
    color: #fff
}

/* Code Boxes */
pre {
  border: 2px solid #EBC3DB;
  padding: 1em;
  overflow-x: auto;
}
pre code { background: none; }

/* Images, tables, misc. */
img, iframe, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  hyphens: auto;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7em;
  hyphens: auto;
  display: block;
  font-size: 1.1em;
}
main a {
  font-weight: bold;
}

blockquote {

  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

.donation {
	text-align: center;
}

.content-wrapper {
  padding: 20px 12px 0px 12px;
}
#foxy {
  min-width: 40px;
  float: right;
  padding: 10px;
  display: block;
}

/* Small devices, phones */
@media only screen and (min-width : 480px) {
  #foxy {
    min-width: 40px;
    float: center;
    padding: 10px 10px 10px 20px;
    display: block;
  }
}


/* added */

/* header */

.header {
  background-color: #DDB06D;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: sticky;
  width: 100%;
  max-width: 800px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
  width: 100%;
}


.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f469;
}

/*
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
*/

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 15px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
	  width: 10%;
	  display: table-cell;
	  text-align: center;
  }
  .header li a {
    padding: 5px 5px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
